
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////

/library/
/temp/
/local/
/build/
/profiles/
/native/engine/android/**/*/assets

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

extensions/marionette_prototyping_ik/dist/

extensions/marionette_prototyping_ik/\@types/

*.blend1

assets/Temp/

assets/Temp.meta
